.card-form{
    width: 20rem;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate3d(-50%, -30%, 0);
}

  .login-form {
    max-width: 20rem;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
 .login-form-button {
    width: 100%;
  }

  .register-now {
    display: flex;
    align-items: center;
    justify-content: center;
  }