.card-form{
    width: 480px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -30%, 0);
}

  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
 .login-form-button {
    width: 100%;
  }